.compCent{
	width: 90%;
	margin-left: 5%;
	background-color: #AEAEAE;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-radius: 1vw;
}

.compLeft{
	width: 46%;
	float: left;
	margin-left: 2%;
	background-color: #D6D5D3;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-radius: 1vw;
}

.compRight{
	width: 46%;
	margin-left: 52%;
	background-color: #D6D5D3;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-radius: 1vw;
}

.panelspace {
  width: 100%;
  height: 1vw;
}

